.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.App .container1{
  width: 95vw;
  height: 10vh;
  border: 2px solid #F1F1F2;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  background-color: #A1D6E2;
}
.App .container1 .title,
.App .container2 .title,
.App .container2 .stitle{
  width: 15vw;
  height: 5vh;
  outline: none;
  border-radius: 5px;
  border: 2px solid #F1F1F2;
  font-size: 1.2rem;
  color: #1995AD;
  text-align: center;
}
.App .container1 .description,
.App .container2 .description,
.App .container2 .sdescription{
  width: 70vh;
  height: 5vh;
  outline: none;
  border-radius: 5px;
  border: 2px solid #F1F1F2;
  font-size: 1.2rem;
  color: #1995AD;
  text-align: center;
}
.App .container1 .title::placeholder,.description::placeholder{
  font-size: 3vh;
  padding-left: 15px;
  color: #1995AD;
}
.App .container1 .add{
  appearance: button;
  background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #4D4AE8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.App .container1 .add:focus:not(:focus-visible),
.App .container1 .add:focus {
  outline: 0;
}

.App .container1 .add:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}
.App .container1 .add:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.App .container1 .add:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.App .container1 .add:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.App .container1 .add:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.App .container2{
  width: 95vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.App .container2 .card{
  width: 95vw;
  height: 10vh;
  border: 2px solid #F1F1F2;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  background-color: #A1D6E2;  
}
.App .container2 .stitle,.sdescription{
  background-color: #F1F1F2;
}
/* CSS */
.App .container2 .button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
